<!--
 * Title: home.component.html
 * Author: Travis Rosen
 * Date: 22 August 2021
 * Description: HTML component for home page.
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a href="#" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Contact Us</a>
    </li>

  </ul>

</nav>

<div class="container">
  <br><br>
  <h2>Exercise 3.3 - Passing Data to Routes, pt. 2</h2>
  <br>
  <div class="row" >
    <div class="col-sm-2">
      <app-my-image></app-my-image>
    </div>
    <div class="col-sm-8">
      <app-my-details></app-my-details>
    </div>
  </div>
</div>

