// Author: Travis Rosen
// Date: 09/04/2021
// Name: book-list.component.scss
// Description: Book list styling


.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
