// Author: Travis Rosen
// Date: 09/04/2021
// Name: book-list.component.scss
// Description: Book list dialog styling


.book-details {
  padding: 20px;
  line-height: 1.6;
  font-size: 18px;
  font-weight: lighter;
}
