<!--
  Author: Travis Rosen
  Date: 09/04/2021
  Name: app.component.html
  Description: HTML page for in-n-out-books Contact page
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br>

      <mat-card-content class="align-center">
        <p>
          101 Travis Street
        </p>
        <p>
          Dallas, Texas
        </p>



      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br>

      <mat-card-content class="align-center">
        <p>
          Direct: 111-111-1111
        </p>
        <p>
          Toll-free: 1-800-111-1111
        </p>
        <p>
          Fax: 111-111-1111
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br><br><br><br>

<div fxLayout="column">
  <p style="text-align: center">
  Visit us online or one of our many great locations in the Dallas Area</p>
</div>
